body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: black;
    background-color: #DED0B6;
}
button{
    height: 7vh;
    width: 10vw;
    border-radius: 50px 50px 50px 50px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: none;
    background-color: black;
    color: white;
}
#resume:hover{
    background-color: gray;
    color: black;
}
#projects{
    background-color: gray;
    color: black;
}
#projects:hover{
    background-color: black;
    color: white;
}
#projects a{
    color: white;
    font-weight: 300;
}
a{
   text-decoration: none;
   color: black;
   font-weight: bold;
}
.parent{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 70%;
    margin: auto;
    box-shadow: 3px 3px 5px 10px #b6bbc4a9;
}
.left{
    display: grid;
    gap: 10vh;
    justify-content: center;
    background-color: #f4ece6;
}
.top-left img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
}
.top-left h2{
    text-align: center;
}
.top-left h3{
    text-align: center;
}
.top-left hr{
    border: 5px solid blue;
}
.bottom-left{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.right{
    padding: 25px;
    background-color: whitesmoke;
}
.right h1{
    font-weight: bold;
    font-size: 100px;
}
.right h2{
    font-size: 25px;
}
.right p{
    font-weight: 300;
    font-size: 23px;
    text-align: start;
}
.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
